<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/style/stylehome.css" type="text/css">
    <title>Document</title>
    <script>
        // function cap nhat nhiet do va thong so len web
        function display() {
            let status1 = '';
            let status2 = '';
            let status_lamp1 ='';
            let status_fan1= '';
            $(document).ready(function () {
                function displayData(data){
                    status_lamp1 = data[3].status ===1 ? 'value = "1" ': 'value = "0"';
                    status_fan1 = data[4].status ===1 ? 'value = "1" ': 'value = "0"';
                   status1 = data[3].status === 1 ? 'checked':'';
                    status2 = data[4].status === 1 ? 'checked':'';

                    return `
                            <span><ion-icon name="thermometer"></ion-icon> Nhiệt độ: <span >${data[0].status}</span></span>
                            <br>
                            <span><ion-icon name="water"></ion-icon> Độ ẩm: <span>${data[1].status}</span></span>
                            <br>
                            <span><ion-icon name="nuclear"></ion-icon> Khí gas: <span>${data[2].status}</span></span>
                            <br>
                            <span><ion-icon name="bulb"></ion-icon> Đèn: <span>${data[3].status}</span> </span>
                            <br>
                            <span><ion-icon name="cog"></ion-icon> Quạt: <span>${data[4].status}</span></span>
                            <br>
                            <span><ion-icon name="warning"></ion-icon> Trạng thái : An toàn</span>
                            <hr>
                            <table style="width: 100%">
                                        <tr>
                                            <th>ĐÈN</th>
                                            <th>QUẠT</th>
                                        </tr>
                                        <tr>
                                            <th>
                                               <span>OFF</span>
                                                <label class="switch">
                                                    <input type="hidden" id="status-lamp1"`+ status_lamp1 +`>
                                                    <input id="control-lamp1" type="checkbox"`+ status1+ `>
                                                    <span class="slider round"></span>
                                                </label>
                                                <span>ON</span>
                                            </th>
                                            <th>
                                                <span>OFF</span>
                                                <label class="switch">
                                                <input type="hidden" id="status-fan1"`+ status_fan1 +`>
                                                    <input id="control-fan1" type="checkbox"`+ status2+`>
                                                    <span class="slider round"></span>
                                                </label>
                                                <span>ON</span>
                                            </th>
                                        </tr>
                                    </table>
                            </div>
                        </td>
                        <td>`
                }
                $.ajax({
                    type: "GET",
                    url: "/home/getListEquipment",
                    success: function (data) {
                        let htmlDisplayHome = displayData(data);
                        document.getElementById("control-1").innerHTML = htmlDisplayHome;
                    }
                });
                event.preventDefault();
            })
        }
        display();
        setInterval(function(){
            display()
        }, 2000);

//Dieu khien den 1
        $(document).ready(function () {
            $(document).on("click","#control-lamp1", function (event) {
                let status = $("#status-lamp1").val();
                $.ajax({
                    type: "GET",
                    url: "/control/lamp1",
                    data: {Status : status},
                })
            })
        })
//Dieu khien quat 1
        $(document).ready(function () {
            $(document).on("click","#control-fan1", function (event) {
                let status = $("#status-fan1").val();
                $.ajax({
                    type: "GET",
                    url: "/control/fan1",
                    data: {Status : status},
                })
            })
        })
    </script>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
        .content-header{
            position: absolute;
            left: 275px;
            top: 15px;
        }
        .table-control{
            width: 90%;
            border-collapse: collapse;
            border: 10px solid black;
            margin-top: 25px;
        }
        .table-control td, th {
            border: 10px solid black;border: 10px solid black;
        }
        th, td {
            border-collapse: collapse;
            border: 1px solid black;
        }
        .table-control span {
            font-size: 25px;
            color: #000000;
            font-family: Arial;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="logo-buffer"></ion-icon></span>
                        <span class="tittle">Library BK</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/home/display}">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="tittle">Trang chủ</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                        <span class="tittle">Sinh viên</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                        <span class="tittle">Giảng viên</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/book/display}">
                        <span class="icon"><ion-icon name="reader-outline"></ion-icon></span>
                        <span class="tittle">Sách</span>
                    </a>
                </li>
                <li>
                    <a  th:href="@{/control/home}">
                        <span class="icon"><ion-icon name="speedometer"></ion-icon></span>
                        <span class="tittle">Phòng điều khiển</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <span class="tittle">Thông báo</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="log-in-outline"></ion-icon></span>
                        <span class="tittle">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>

        <!--Thong tin-->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
               <div>
                   <span><img style=" position: absolute;
                                width: 70px;
                                left: 200px;
                                top: 5px;"
                              src="/image/Logodhbk.jpg" alt=""></span>
               </div>
                <div class="content-header">
                    <h3>TRƯỜNG ĐẠI HỌC BÁCH KHOA - ĐẠI HỌC ĐÀ NẴNG</h3>
                    <H3>HỆ THỐNG QUẢN LÝ THƯ VIỆN</H3>
                </div>
                <div class="user">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </div>
            </div>
            <hr style="margin-top: 30px">
            <center>
                <h3 style="margin-top: 20px">PHÒNG GIÁM SÁT, ĐIỀU KHIỂN</h3>
            </center>
            <div>
                <center>
                <table class="table-control">
                    <tr>
                        <th><h3>Phòng 1</h3></th>
                        <th><h3>Phòng 2</h3></th>
                    </tr>
                    <tr>
                        <td>
                            <div style="left: 25px;" id="control-1">
                                    <span><ion-icon name="thermometer"></ion-icon> Nhiệt độ: <span th:each="element :${listEquipment}" th:if="${element.getId()==1}" th:text="${element.getStatus()}" ></span></span>
                                    <br>
                                    <span><ion-icon name="water"></ion-icon> Độ ẩm: <span th:each="element :${listEquipment}" th:if="${element.getId()==2}" th:text="${element.getStatus()}"></span></span>
                                    <br>
                                    <span><ion-icon name="nuclear"></ion-icon> Khí gas: <span th:each="element :${listEquipment}" th:if="${element.getId()==3}" th:text="${element.getStatus()}"></span></span>
                                    <br>
                                    <span><ion-icon name="bulb"></ion-icon> Đèn: <span th:each="element :${listEquipment}" th:if="${element.getId()==4}" th:text="${element.getStatus()}"></span> </span>
                                    <br>
                                    <span><ion-icon name="cog"></ion-icon> Quạt: <span th:each="element :${listEquipment}" th:if="${element.getId()==5}" th:text="${element.getStatus()}"></span></span>
                                    <br>
                                    <span><ion-icon name="warning"></ion-icon> Trạng thái : An toàn</span>
                                    <hr>
                                    <table style="width: 100%">
                                        <tr>
                                            <th>ĐÈN</th>
                                            <th>QUẠT</th>
                                        </tr>
                                        <tr>
                                            <th>
                                               <span>OFF</span>
                                                <label class="switch">
                                                    <input type="hidden" id="status-lamp1" th:value="${listEquipment[3].status}">
                                                    <input type="checkbox" th:checked="${listEquipment[3].status}" id="control-lamp1">
                                                    <span class="slider round"></span>
                                                </label>
                                                <span>ON</span>
                                            </th>
                                            <th>
                                                <span>OFF</span>
                                                <label class="switch">
                                                    <input type="hidden" id="status-fan1" th:value="${listEquipment[4].status}">
                                                    <input type="checkbox" th:checked="${listEquipment[4].status}" id="control-fan1">
                                                    <span class="slider round"></span>
                                                </label>
                                                <span>ON</span>
                                            </th>
                                        </tr>
                                    </table>
                            </div>
                        </td>
                        <td>
                            <div style="right: 25px;" class="control-2">
                                    <span><ion-icon name="thermometer"></ion-icon> Nhiệt độ: <p ></p></span>
                                    <span><ion-icon name="water"></ion-icon> Độ ẩm: <p></p></span>
                                    <span><ion-icon name="nuclear"></ion-icon> Khí gas: <p></p></span>
                                    <span><ion-icon name="bulb"></ion-icon> Đèn: <p></p> </span>
                                    <span><ion-icon name="cog"></ion-icon> Quạt: <p></p></span>
                                    <span><ion-icon name="warning"></ion-icon> Trạng thái : An toàn</span>
                                <hr>
                                <table style="width: 100%">
                                    <tr>
                                        <th>ĐÈN</th>
                                        <th>QUẠT</th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <span>OFF</span>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                            <span>ON</span>
                                        </th>
                                        <th>
                                            <span>OFF</span>
                                            <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                            <span>ON</span>
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
                </center>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script  src="/javascript/homejs.js"></script>
</body>
</html>